.conteiner{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}
/* Definir o container e centralizar os ícones */
.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
  }
  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 90vw;
    flex-wrap: wrap;
  }
  /* Estilo básico para os ícones */
  .conteiner i {
    font-size: 200px;
    gap: 50;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
    visibility: visible;
    opacity: 1;
    
    
  }

  
  
  
  /* Efeito de transformação quando o mouse passa por cima */
  .conteiner i:hover {
    transform: scale(1.2);
    color: #3498db;  /* Altere para a cor do seu tema */
  }
  
  /* Tema escuro */
  .conteiner.dark-theme i {
    color: #ecf0f1;
  }
  
  /* Tema claro */
  .conteiner.light-theme i {
    color: #2c3e50;
  }
  
  /* Efeitos adicionais (como uma rotação ou animação mais complexa) */
  .conteiner i:nth-child(odd):hover {
    transform: rotate(15deg);
  }
  
  .conteiner i:nth-child(even):hover {
    transform: rotate(-15deg);
  }
  
  h3{
    font-size: 26px;
    transition: .5s ease;
  }