:root {

    --dourado: #F0C14B;
    --branco-puro: #FFFFFF;
    --verde-pastel: #A8E6A1;
    --azul-claro: #A0C4D7;
  }

.conteiner-geral{
    width: 100%;
    height: 100vh;
    background-color: var(--azul-claro);
}