:root {
    --dourado: #F0C14B;
    --branco-puro: #FFFFFF;
    --verde-pastel: #A8E6A1;
    --azul-claro: #A0C4D7;
    --azul-escuro: #1C3B57;
    --azul-roupa:  rgb(54, 53, 113);
    --azul-mao:#28f1f4;
  }
  


nav {



    display: flex;
    align-items: center;
    background-color: var(--azul-claro);
    justify-content: space-between;
    padding: 20px 80px;
    height: 10vh;
    box-shadow: 0 5px var(--azul-escuro);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.5s ease;

}


#navbar li a:hover {
    color: aquamarine;
}

#navbar li a:hover::after {
    color: aquamarine;
    content: "";
    width: 30%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#mobile {
    display: none;
}

#mobile i {
    color: #fff;
}


@media screen and (max-width: 768px) {


    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 113px;
        right: -350px;
        width: 300px;
        height: 100vh;
        background-color: blanchedalmond;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        z-index: 3;
    }

    #navbar.active {
        right: 0;
    }

    #navbar {
        margin-bottom: 25px;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 24px;
        cursor: pointer;
    }
}