
.contratameprincipal{
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.sessao{
  

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  background: #1C3B57;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sessao h2{
  color: #f5f5f5;
  font-size: 2.5rem;
  margin: 2rem;
}
.sessao form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label{
  color: #f5f5f5;
  font-size: 17px;
  margin-bottom: 4px;
}
form input{
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: all 0.5s;
}
form input:focus{
  border-radius: 16px;
}
form textarea{
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.5s;
}
form textarea:focus{
  border-radius: 16px;
}


#Btn-contrateme {
  position: relative;
  padding: 12px 35px;
  background: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
  border: 3px solid #0e3a3a;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all .3s ease-in-out;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s ease;
}

#Btn-contrateme:hover {
  background: #0e3a3a;
  color: #FFFFFF;
  box-shadow: 0 0 25px #0e3a3a;
	border: 3px solid #FFF;
}

#Btn-contrateme:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#Btn-contrateme:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#Btn-contrateme:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#Btn-contrateme:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#Btn-contrateme:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 100%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#Btn-contrateme:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 30%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #FFFDEF
}